/*
!.gitignore
!vivado_hls.app
!/src
!/solution*
/solution*/*
!/solution*/directives.tcl
!/solution*/script.tcl
!/solution*/*.aps
!/solution*/*.directive
!/solution*/*.funcunit
![Rr][Ee][Aa][Dd][Mm][Ee]*
csim*
impl*
sim*
syn*
Debug*
*.dat
